@using Microsoft.AspNetCore.Authorization
@using NTDataHiveEnum.DataPlugins.Utilities
@using OfficeOpenXml

@attribute [Authorize]
@rendermode InteractiveServer
@inject NTDataHiveFrontend.ServiceAccess.EvaluationBackendService MyBackendService
@inject Microsoft.JSInterop.IJSRuntime JS
@inject IConfiguration Configuration
@inject NavigationManager MyNavigationManager
@page "/feedback-specific-detail-page/{id:guid}/random"

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<div class="create-feedback-button">
    <RadzenButton Style="background-color: #e81f4b;" Click="@Save" Text="Save Feedback" />
</div>

<h3>Feedback Specific Detail </h3>

@if (feedbackDetail == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="feedbackDetail">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <RadzenFieldset class="rz-color-white " Text="Feedback">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Supplier Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 50%; color: black;" @bind-value="feedbackDetail.SupplierName" Placeholder="Supplier Name" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="QA Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 50%; color: black;" @bind-value="feedbackDetail.QualityAssurance" Placeholder="Quality Assurance" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Publisher Name" />

                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 50%; color: black;" @bind-value="feedbackDetail.PublisherName" Placeholder="Publisher Name" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Journal ID" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 50%; color: black;" @bind-value="feedbackDetail.JournalId" Placeholder="Journal ID" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Article ID" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 50%; color: black;" @bind-value="feedbackDetail.ArticleId" Placeholder="Article ID" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Copy Edited By" />
                            </div>
                            <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color: black;" @bind-value="feedbackDetail.CopyEditedBy" Placeholder="Copy Edited By" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Page Count" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric Style="width: 50%; color: black;" @bind-Value="feedbackDetail.PageCount" TValue="double" Placeholder="Page Count" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Count" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric Style="width: 50%; color: black;" @bind-value="feedbackDetail.ErrorCount" TValue="double" Placeholder="Error Count" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Description of Error" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextArea Style="width: 50%; color:black;" @bind-value="feedbackDetail.DescriptionOfError" Placeholder="Description of Error"Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Front Matter" />
                            </div>
                            <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color:black;" @bind-value="feedbackDetail.Matter" Placeholder="FM/Non-FM" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Location" />
                            </div>
                            <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color:black;" @bind-value="feedbackDetail.ErrorLocation" Placeholder="Error Location" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Code" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 50%; color:black;" @bind-Value="feedbackDetail.ErrorCode" Placeholder="Error Code" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Type" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 50%; color:black;" @bind-Value="feedbackDetail.ErrorType" Placeholder="Error Type" Disabled />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error SubType" />
                            </div>
                            <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color:black;" @bind-Value="feedbackDetail.ErrorSubtype" Placeholder="Error Subtype" Disabled />
                            </div>
                        </div>
                         <div class="row">
                             <div class="col-md-3 align-items-center d-flex">
                                 <RadzenLabel Text="Error Category" />
                             </div>
                             <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color:black;" @bind-Value="feedbackDetail.ErrorCategory" Placeholder="Error Category" Disabled />
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-3 align-items-center d-flex">
                                 <RadzenLabel Text="Introduced/Missed" />
                             </div>
                             <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color:black;" @bind-Value="feedbackDetail.IntroducedOrMissed" Placeholder="Introduced/Missed" Disabled />
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-3 align-items-center d-flex">
                                 <RadzenLabel Text="Department" />
                             </div>
                             <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color:black;" @bind-Value="feedbackDetail.Department" Placeholder="Department" Disabled />
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-3 align-items-center d-flex">
                                 <RadzenLabel Text="Employee Name" />
                             </div>
                             <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color: black;" @bind-Value="feedbackDetail.EmployeeName" Placeholder="Employee Name" Disabled />
                             </div>
                         </div>
                         <div class="row">
                             <div class="col-md-3 align-items-center d-flex">
                                 <RadzenLabel Text="CE Level" />
                             </div>
                             <div class="col-md-8">
                                 <RadzenTextBox Style="width: 50%; color: black;" @bind-Value="feedbackDetail.CopyEditingLevel" Placeholder="Copy Editing Level" Disabled />
                             </div>
                         </div>
                    </RadzenFieldset>
                </div>
                <div class="col-md-6">
                    <RadzenFieldset class="rz-color-white" Text="Feedback">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Root Cause" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="feedbackDetail.RootCause" Placeholder="Root Cause" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Corrective Action" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="feedbackDetail.CorrectiveAction" Placeholder="Corrective Action" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Nature of CA" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown @bind-Value="feedbackDetail.NatureOfCA" AllowClear="true" TValue="string" Placeholder="Nature of CA"
                                                Data="@natureOfCA" style="width: 100%;" TextProperty="Text" ValueProperty="Value" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Owner of CA" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="feedbackDetail.OwnerOfCA" Placeholder="Owner of CA" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Target Date (CA)" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDatePicker Style="width: 53%;" class="datepicker" @bind-Value="feedbackDetail.TargetDateOfCompletionCA" YearRange="@("2023:" + @DateTime.Now.Year.ToString())"
                                                  DateFormat="MM/dd/yyyy" Placeholder="MM/DD/YYYY" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Preventive Measure" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="feedbackDetail.PreventiveMeasure" Placeholder="Preventive Measure" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Nature of PM" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown @bind-Value="feedbackDetail.NatureOfPM" AllowClear="true" TValue="string" Placeholder="Nature of PM"
                                                Data="@natureOfPM" style="width: 100%;" TextProperty="Text" ValueProperty="Value" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Owner of PM" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="feedbackDetail.OwnerOfPM" Placeholder="Owner of PM" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Target Date (PM)" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDatePicker Style="width: 53%;" class="datepicker" @bind-Value="feedbackDetail.TargetDateOfCompletionPM" YearRange="@("2023:" + @DateTime.Now.Year.ToString())"
                                                  DateFormat="MM/dd/yyyy" Placeholder="MM/DD/YYYY" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Status of CA" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown @bind-Value="feedbackDetail.StatusOfCA" AllowClear="true" TValue="string" Placeholder="Status of CA"
                                                Data="@status" style="width: 100%;" TextProperty="Text" ValueProperty="Value" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Status of PM" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDropDown @bind-Value="feedbackDetail.StatusOfPM" AllowClear="true" TValue="string" Placeholder="Status of PM"
                                                Data="@status" style="width: 100%;" TextProperty="Text" ValueProperty="Value" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Guid id { get; set; }
    private NTDataHiveFrontend.Model.Feedback feedbackDetail = new Model.Feedback();
    private NTDataHiveFrontend.Model.Feedback[] listFeedback;
    private List<NTDataHiveEnum.DataPlugins.DropDownListItem> natureOfCA = EnumHelper.ConvertEnumToDropDownSource<NTDataHiveEnum.DataPlugins.Enums.NatureOfCA>();
    private List<NTDataHiveEnum.DataPlugins.DropDownListItem> natureOfPM = EnumHelper.ConvertEnumToDropDownSource<NTDataHiveEnum.DataPlugins.Enums.NatureOfPM>();
    private List<NTDataHiveEnum.DataPlugins.DropDownListItem> status = EnumHelper.ConvertEnumToDropDownSource<NTDataHiveEnum.DataPlugins.Enums.Status>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        feedbackDetail = await MyBackendService.GetFeedbackRecord(id);
    }

    private async Task Save()
    {
        await MyBackendService.SaveFeedback(feedbackDetail);

        MyNavigationManager.NavigateTo("/feedback-performance");
    }


    private async Task DownloadExcelFile()
    {
        // listFeedback = await MyBackendService.GetFeedbackRecord(id);
        var stream = new MemoryStream();
        ExcelPackage.LicenseContext = LicenseContext.NonCommercial;
        using (var package = new ExcelPackage(stream))
        {
            var workSheet = package.Workbook.Worksheets.Add("Sheet1");

            workSheet.Cells.LoadFromCollection(listFeedback);

            package.GetAsByteArray();
        }
        // JS.InvokeVoidAsync("saveAsFile", $"test_{DateTime.Now.ToString("yyyyMMdd_HHmmss")}.xlsx", Convert.ToBase64String(excelBytes));

    }
}
