@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@* @rendermode InteractiveServer *@
@inject NTDataHiveFrontend.ServiceAccess.RevisionBackendService MyBackendService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation
@page "/revision-feedback"

<PageTitle>Pre-Editing Feedback</PageTitle>

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<div class="create-feedback-button">
    <RadzenButton Style="background-color: #e81f4b;" Click="@Save" Text="Create Employee" />
</div>

<h3>Create - Revision Feedback</h3>

@if (addRevisionFeedback == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="addRevisionFeedback">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <RadzenFieldset Text="Input Text">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Supplier Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addRevisionFeedback.SupplierName" Placeholder="Supplier Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="QA Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addRevisionFeedback.QualityAssurance" Placeholder="Quality Assurance Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Publisher Name" />

                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addRevisionFeedback.PublisherName" Placeholder="Publisher Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Journal ID" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addRevisionFeedback.JournalId" Placeholder="Journal ID" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Article ID" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addRevisionFeedback.ArticleId" Placeholder="Article ID" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Page Count" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric Style="width: 100%;" @bind-Value="addRevisionFeedback.PageCount" TValue="int" Placeholder="Page Count" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Count" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric Style="width: 100%;" @bind-value="addRevisionFeedback.ErrorCount" TValue="int" Placeholder="Error Count" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Description of Error" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextArea Style="width: 100%;" @bind-value="addRevisionFeedback.DescriptionOfError" Placeholder="Description of Error" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Matter" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.Matter" Placeholder="FM/Non-FM" />
                            </div>
                        </div>


                    </RadzenFieldset>
                </div>
                <div class="col-md-6">
                    <RadzenFieldset Text="Drop Down">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Location" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.ErrorLocation" Placeholder="Error Location" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Code" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.ErrorCode" Placeholder="Error Code" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Type" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.ErrorType" Placeholder="Error Type" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error SubType" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.ErrorSubtype" Placeholder="Error SubType" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Category" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.ErrorCategory" Placeholder="Error Category" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Introduced/Missed" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.IntroducedOrMissed" Placeholder="Introduced/Missed" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Department" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.Department" Placeholder="Department" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Employee Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.EmployeeName" Placeholder="Employee Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="CE Level" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addRevisionFeedback.CopyEditingLevel" Placeholder="Copy Editing Level" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Time Created" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDatePicker Style="width: 53%;" class="datepicker" @bind-Value="addRevisionFeedback.CreatedAt" YearRange="@("2023:" + @DateTime.Now.Year.ToString())"
                                                  DateFormat="MM/dd/yyyy h:mm:ss tt" Placeholder="@($"{@DateTime.Now.ToLocalTime()}")" Change="@(args => PickDateOfTime())" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
        </div>
    </EditForm>
}



@code {
    private NTDataHiveFrontend.Model.Revision addRevisionFeedback = new Model.Revision();

    private async Task Save()
    {
        await MyBackendService.SaveRevisionFeedback(addRevisionFeedback);

        MyNavigation.NavigateTo("/revision-performance");
    }

    private void PickDateOfTime()
    {
        var value = DateTime.Now;
        addRevisionFeedback.CreatedAt = value;
        StateHasChanged();
    }
}
