@page "/pre-editing-feedback"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]
@rendermode InteractiveServer
@inject UseCases.Dropdown.UseCaseInterfaces.IViewPublisherUseCase MyViewPublisherUseCase
@inject UseCases.Dropdown.UseCaseInterfaces.IViewJournalUseCase MyViewJournalUseCase
@inject NTDataHiveFrontend.ServiceAccess.PreEditingFeedbackBackendService MyBackendService
@inject NTDataHiveFrontend.ServiceAccess.DropdownBackendService MyDropdownService
@inject IConfiguration Configuration
@inject NavigationManager MyNavigation

<PageTitle>Pre-Editing Feedback</PageTitle>

<style>
    form .row {
        margin-bottom: 16px;
    }
</style>

<div class="create-feedback-button">
    <RadzenButton Style="background-color: #e81f4b;" Click="@Save" Text="Create Employee" />
</div>

<h3>Create - Pre-Editing Feedback</h3>

@if (addPreEditFeedback == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="addPreEditFeedback">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <RadzenFieldset class="rz-color-base-300" Text="Input Text">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Supplier Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addPreEditFeedback.SupplierName" Placeholder="Supplier Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="QA Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addPreEditFeedback.QualityAssurance" Placeholder="Quality Assurance Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Publisher Name" />
                                
                            </div>
                            <div class="col-md-8">                                
                                <RadzenDropDown @bind-Value="addPreEditFeedback.PublisherName" AllowClear="true" TValue="string" Placeholder="Select Publisher Name"
                                                Data="@publisher" Style="width: 100%;" TextProperty="PublisherName" ValueProperty="PublisherName" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Journal ID" />
                            </div>
                            <div class="col-md-8">
                                
                                <RadzenDropDown @bind-Value="addPreEditFeedback.JournalId" AllowClear="true" TValue="string" Placeholder="Select Journal ID"
                                                Data="@journals" Style="width: 100%" TextProperty="JournalName" ValueProperty="JournalName" 
                                                FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterOperator="StringFilterOperator.Contains" AllowFiltering="true" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Article ID" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addPreEditFeedback.ArticleId" Placeholder="Article ID" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Copy Edited By" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-value="addPreEditFeedback.CopyEditedBy" Placeholder="Copy Edited" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Page Count" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric Style="width: 100%;" @bind-Value="addPreEditFeedback.PageCount" TValue="int" Placeholder="Page Count" />                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Count" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric Style="width: 100%;" @bind-value="addPreEditFeedback.ErrorCount" TValue="int" Placeholder="Error Count" />                                
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Description of Error" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextArea Style="width: 100%;" @bind-value="addPreEditFeedback.DescriptionOfError" Placeholder="Description of Error" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Matter" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.Matter" Placeholder="FM/Non-FM" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Location" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.ErrorLocation" Placeholder="Error Location" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Code" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.ErrorCode" Placeholder="Error Code" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Type" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.ErrorType" Placeholder="Error Type" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error SubType" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.ErrorSubtype" Placeholder="Error SubType" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Error Category" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.ErrorCategory" Placeholder="Error Category" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
                <div class="col-md-6">
                    <RadzenFieldset class="rz-color-base-300" Text="Drop Down">
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Introduced/Missed" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.IntroducedOrMissed" Placeholder="Introduced/Missed" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Department" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.Department" Placeholder="Department" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Employee Name" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.EmployeeName" Placeholder="Employee Name" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Root Cause" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.RootCause" Placeholder="Root Cause" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Corrective Action" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.CorrectiveAction" Placeholder="Corrective Action" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Nature of CA" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.NatureOfCA" Placeholder="Nature Of Corrective Action" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Owner of CA" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.OwnerOfCA" Placeholder="Owner Of Corrective Action" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Target Completion CA" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDatePicker Style="width: 53%;" class="datepicker" @bind-Value="addPreEditFeedback.TargetDateOfCompletionCA" YearRange="@("2023:" + @DateTime.Now.Year.ToString())"
                                                  DateFormat="MM/dd/yyyy" Placeholder="@($"{@DateTime.Now.Date}")" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Preventive Measure" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.PreventiveMeasure" Placeholder="Preventive Measure" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Nature of PM" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.NatureOfPM" Placeholder="Nature of Preventive Measure" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Target Completion PM" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDatePicker Style="width: 53%;" class="datepicker" @bind-Value="addPreEditFeedback.TargetDateOfCompletionPM" YearRange="@("2023:" + @DateTime.Now.Year.ToString())"
                                                  DateFormat="MM/dd/yyyy" Placeholder="@($"{@DateTime.Now.Date}")" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Status of CA" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.StatusOfCA" Placeholder="Status of Corrective Action" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Status of PM" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.StatusOfPM" Placeholder="Status of Preventive Measure" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="CE Level" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox Style="width: 100%;" @bind-Value="addPreEditFeedback.CopyEditingLevel" Placeholder="Copy Editing Level" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 align-items-center d-flex">
                                <RadzenLabel Text="Time Created" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDatePicker Style="width: 53%;" class="datepicker" @bind-Value="addPreEditFeedback.CreatedAt" YearRange="@("2023:" + @DateTime.Now.Year.ToString())"
                                                  DateFormat="MM/dd/yyyy h:mm:ss tt" Placeholder="@($"{@DateTime.Now.ToLocalTime()}")" Change="@(args => PickDateOfTime())" />
                            </div>
                        </div>
                    </RadzenFieldset>
                </div>
            </div>
        </div>
    </EditForm>
}

@code {
    private NTDataHiveFrontend.Model.PreEditingErrorFeedback addPreEditFeedback = new Model.PreEditingErrorFeedback();

    private List<CoreBusiness.Dropdown.Publisher> publishers;
    private List<CoreBusiness.Dropdown.Journal> journals;
    private List<NTDataHiveFrontend.Model.Publisher> publisher = new List<Model.Publisher>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        // publishers = MyViewPublisherUseCase.Execute().ToList();
        // journals = MyViewJournalUseCase.Execute().ToList();
        publisher = await MyDropdownService.GetAllPublisher();
    }

    private async Task Save()
    {
        await MyBackendService.SavePreEditFeedback(addPreEditFeedback);

        MyNavigation.NavigateTo("/pre-editing-performance");
    }

    private void PickDateOfTime()
    {
        var value = DateTime.Now;
        addPreEditFeedback.CreatedAt = value;
        StateHasChanged();
    }
}
