@using System.ComponentModel.DataAnnotations
@using System.Text
@using System.Text.Encodings.Web
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Http.Extensions;
@using Microsoft.AspNetCore.Identity
@using NTDataHiveFrontend.Components.Account
@using NTDataHiveFrontend.Data
@using NTDataHiveFrontend.Components.QualityPerformance.Pages.Manage
@using System.Security.Claims
@using Microsoft.AspNetCore.Components.Authorization

@attribute [Authorize]
@rendermode InteractiveServer
@inject NTDataHiveFrontend.ServiceAccess.PersonBackendService MyPersonBackendService
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject IdentityUserAccessor UserAccessor
@inject UserManager<ApplicationUser> UserManager
@inject IConfiguration Configuration

@if (personRecord == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <EditForm Model="personRecord">
        <div class="jumbotron" style="text-align:center;">
            <img src="/images/greatplacetowork.png" style="width: 650px;" />
            <hr class="my-3">

            <RadzenRow class="rz-text-align-center" Gap="1rem">
                <RadzenColumn class="rz-p-5">
                    <div class="rz-shadow-5 rz-p-3 rz-border-radius-3">
                        <div Class="rz-p-0 rz-p-md-5">
                            <h4><b>Your Credentials</b></h4>
                            <RadzenText class="rz-color-black" Text="@($"Email: {personRecord.EmailAddress}")" />
                            <RadzenText class="rz-color-black" Text="@($"Usename: {personRecord.Username}")" />

                            @if (personRecord.FirstName != "" && personRecord.LastName != "" && personRecord.Position != "" && personRecord.CompanyId != "")
                            {
                                <h1>John</h1>
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-black" Text="@($"Usename: {personRecord.FirstName}")" />
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-black" Text="@($"Usename: {personRecord.LastName}")" />
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-black" Text="@($"Usename: {personRecord.Position}")" />
                                <RadzenText TextStyle="TextStyle.H6" TagName="TagName.H5" class="rz-color-black" Text="@($"Usename: {personRecord.CompanyId}")" />
                            }  
                        </div>
                    </div>
                </RadzenColumn>
                <RadzenColumn class="rz-p-5">
                    <AccuracyRating />
                </RadzenColumn>
                <RadzenColumn class="rz-p-5">                    
                    <ClockGauge />
                </RadzenColumn>
            </RadzenRow>
        </div>
    </EditForm>
}

@code {
    private string? userId;
    private Guid id { get; set; }
    private List<NTDataHiveFrontend.Model.Person> result = new List<Model.Person>();
    private NTDataHiveFrontend.Model.Person personRecord = new Model.Person();
    private AuthenticationState authState;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var auth = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var nameIdentifier = auth.User;

        userId = nameIdentifier.FindFirst(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        
        personRecord = await MyPersonBackendService.GetPersonRecord(userId);
    }
}
